<div id="article"> 
	<h1>Bienvenido en el sitio oficial de la comunidad</h1>
	<p>
		En ese sitio, tenemos el motivo de informarles sobre todos los proyectos y enventos en los que nuestra communidad
		se dedica.
	</p>
	<pre>{{articles |json:1}}</pre>
	<hr class="separator"/>

	<div ng-repeat="article in articles.articlesData">
	        <h2 class="title">#{{article.id}} {{article.title}}</h1>
	        <div class="article_image">
	        	<img ng-src="{{article.image}}" alt="oups"></img>

	        <div/>

	        <p class="content">{{article.content}}</p>
	        <p class="authorName">{{article.authorName}}</p>
	        <hr class="separator"/>
	</div>


</div>
