<div id="contact">
	<h1>Contacto</h1>
	<h2>Fundacion Emaus Guadalajara de Buga</h2>
	<p>         
<ul>
	<li>Dirección postal:  CALLE 5 SUR 7ª-30</li>
	<li>Barrió el Albergue  Buga Valle del Cauca</li>
	<li>País: COLOMBIA</li>
	<li>Dirección electrónica:    emausbuga1@hotmail.com</li>
	<li>Fecha de creación:       	19 de mayo 2009	</li>
	<li>Actividad principal:      COMUNIDAD DE VIDA Y DE TRABAJO</li>
	<li>Número de miembros:   15</li>
	<li>Miembro pleno de la Región  Fecha de reconocimiento     Marzo de  2012</li>
</ul>

	</p>
</div>