<div id="contact" class="content">
	<h1>Contacto</h1>
	<p>
		Si quieren mas informarcion sobre la communidad, nos puede contactar por mail :
	</p>
<ul>
	<li>Dirección electrónica:    <a href="mailto:emausbuga1@hotmail.com">emausbuga1@hotmail.com</a></li>
	<br/>
</ul>
	<h2>La communidad en Colombia</h2>
	<ul>
		<li>Dirección postal:  CALLE 5 SUR 7ª-30</li>
	<li>Barrió el Albergue  Buga Valle del Cauca</li>
	<li>País: COLOMBIA</li>	
	</ul>
<div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8146549.01707074!2d-72.32251111875!3d4.446957472858541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e39ec93c47a211b%3A0xade3dc568e433f40!2sBuga%2C+Guadalajara+de+Buga%2C+Valle+del+Cauca%2C+Colombie!5e0!3m2!1sfr!2smy!4v1434212381311" width="600" height="450" frameborder="0" style="border:0" id></iframe>
</div>
<ul>
	
	
</ul>


	
	</p>
</div>