<div id="contact">
	<h1>Contacto</h1>
<div>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8146549.01707074!2d-72.32251111875!3d4.446957472858541!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e39ec93c47a211b%3A0xade3dc568e433f40!2sBuga%2C+Guadalajara+de+Buga%2C+Valle+del+Cauca%2C+Colombie!5e0!3m2!1sfr!2smy!4v1434212381311" width="600" height="450" frameborder="0" style="border:0"></iframe>
</div>


	<li>Dirección postal:  CALLE 5 SUR 7ª-30</li>
	<li>Barrió el Albergue  Buga Valle del Cauca</li>
	<li>País: COLOMBIA</li>
	<li>Dirección electrónica:    emausbuga1@hotmail.com</li>
	<li>Fecha de creación:       	19 de mayo 2009	</li>
	<li>Actividad principal:      COMUNIDAD DE VIDA Y DE TRABAJO</li>
	<li>Número de miembros:   15</li>
	<li>Miembro pleno de la Región  Fecha de reconocimiento     Marzo de  2012</li>
</ul>

	</p>
</div>