<div id="history" class="content">
	<h1>Historia de Emaus</h1>
	<h2>Emaús Internacional</h2>

	<div class="image_static">
		<img src="/img/site/abbe_pierre.jpg" alt="Abbé pierre"></img>
	</div>
	<p>
	Es un movimiento de solidaridad internacional que lucha contra las causas de la exclusión. Está formado por miles de personas que trabajan motivadas por frases como estas: "servir primero al que más sufre" y "luchar contra las causas de la miseria.
	El fundador de Emaús Internacional era un sacerdote fuera de lo común, conocido en el mundo entero, durante mucho tiempo la personalidad preferida de los franceses. Como fundador del movimiento Emaús, fue miembro del Consejo de Administración y del Comité Ejecutivo de Emaús Internacional hasta su muerte.
	En 1949, el Abbé Pierre plantea una original idea de la solidaridad: que los pobres trabajen por otros aún más pobres.
	Se hizo especialmente célebre el 1 de febrero de 1954. En medio de un invierno terrible, con miles de personas sin hogar durmiendo en las calles de París, el Abbé Pierre hace un llamamiento por radio en el que apela a la generosidad de todos los franceses. A partir de esta "insurrección de la bondad", el Abbé Pierre y sus "compañeros de Emaús" contribuyeron decisivamente a promover el derecho a la vivienda en Francia, y su lucha fue extendiéndose por todo el mundo.
	Emaús Internacional es una organización descentralizada,  está presente en cuatro continentes África, América, Asia y Europa. Su funcionamiento se articula entre tres componentes: grupos miembros, delegados y empleados.
	 Los grupos miembros son el corazón del movimiento. Existen 337 grupos repartidos por 36 países. Cada cuatro años se reúnen en la Asamblea Mundial.
	</p>	
</div>