<div id="articles" scroll-call="association.getArticles(association.currentPage)"> 
	
	<h1>Emaus Guadalajara de Buga</h1>
	<p>
		En ese sitio, tenemos el motivo de informarles sobre todos los proyectos y enventos en los que nuestra communidad
		se dedica.
	</p>

	<!-- <pre>{{association.articles |json:1}}</pre> -->
	
	<hr class="separator">

	<div class="article" ng-repeat="article in association.articles">
	        <h2 class="title">#{{article.id}} {{article.title}}</h1>

			<div class="z-grid">
				<div class="z-2">
					<div class="article_image z-box">
						<img ng-src="{{article.image}}" alt="oups"></img>
					</div>
				</div>
				<div class="z-2">
					<div class="article_content z-box">
						<p class="content">{{article.content}}</p>
		        <p class="authorName">{{article.authorName}}</p>
					</div>
				</div>
			</div>

			<!-- 
	        <div class="article_image">
	        	<img ng-src="{{article.image}}" alt="oups"></img>
	        </div>
	        <div class="article_content">
		        <p class="content">{{article.content}}</p>
		        <p class="authorName">{{article.authorName}}</p>
			</div> 
			-->


	        <hr class="separator"/>
	</div>


</div>
