<div id="project" class="content">
	<h1>Actividades de la communidad</h1>

	<h2>Reciclaje y recuperación</h2>
	<div class="image_static">
		<img src="/img/site/reciclaje_min.jpg" alt="Reciclaje"></img>

	</div>
	<p>Recuperamos cartón, plástico, llantas, y diversos objetos,   estos objetos son vendidos, o  reutilizados en la comunidad.
	Nace en Emaús como respuesta al impacto del medio ambiente el programa de las TRES“R”, Reciclar, Recoger y Recuperar.  Cada vez que reciclamos un envase, evitamos llenar los vertederos y la extracción de nuevas materias primas,  reducimos el consumo energético y la emisión de gases contaminantes causantes del cambio climático. Además, con los materiales reciclados se pueden hacer nuevos productos con resultados muy originales y a bajo costo.
	</p>
	<h2>Carpintería y Artesanía</h2>
	<div class="image_static">
		<img src="/img/site/carpinteria_min.jpg" alt="Abbé pierre"></img>

	</div>
	<p>La comunidad posee un taller de carpintería abierto cada día y en el cual diversos productos  son fabricados por los compañeros, los beneficiarios de nuestra comunidad (habitantes de la vereda de Pica piedra) y amigos de Emaús. La fabricación, producción y venta de diversos productos nos permiten obtener  módicos ingresos
	</p>

	<h2>Productos de la huerta</h2>
	<div class="image_static">
		<img src="/img/site/agricultura_min.jpg" alt="Agricultura"></img>

	</div>
	<p>En la granja de Emaús encontraran hortalizas y frutas frescas. Estos son utilizados sobre todo para el auto sostenimiento, otros para hacer el trueque, y otros cultivos como maíz y frijol que han sido vendidas para generar ingresos
	</p>
	<h2>Educación, formación y capacitación</h2>
	<div class="image_static">
		<img src="/img/site/educacion_min.jpg" alt="Educacion"></img>

	</div>
	<p>Desarrollamos con la comunidad infantil el aprovechamiento del tiempo para mejorar su nivel académico. Brindamos refuerzos estudiantiles, talleres de dibujo, música, baile y disfrutamos momentos de diversión.
	Nuestra Comunidad  propone en convenio con la Administración Municipal, intervenir en las instituciones educativas de los municipios de Buga y Yotoco, para  promover en las escuelas charlas, actividades lúdicas, encuestas sobre el reciclaje, y se permita la implementación de buenas prácticas ambientales en los hogares, con el fin de potenciar una mejor concienciación en los niños sobre el aprovechamiento de los residuos y la gestión adecuada,para con estos, reducir las cargas ambientales y generar posibilidades socio económicas a las personas más necesitadas
	</p>
	<h2>Derecho a la salud</h2>
	<div class="image_static">
		<img src="/img/site/salud_min.jpg" alt="Salud"></img>

	</div>
	<p>En este eje contamos con un  albergue, el cual incluye un programa de atenciónintegral basado en aspectos importantes en toda persona como:    Adecuación Física (Salud), Emocional (Psicología)y Sociocultural (Trabajo Social). Con su apoyo podemos mejorar la calidad de vida de nuestra comunidad. Haga donación de los objetos que ya no usen, nosotros lo recogemos.
	</p>
</div>