<div id="work">
	<h1>Ejes de trabajo</h1>
	<div>
		<img src="/img/site/agricultura_2_min.jpg" alt="Ejes de trabajo"></img>	
	</div>
	<ul>
		<li>Ayudar a las personas en situación de vulnerabilidad a través del desarrollo de proyectos sociales auto sostenibles y sustentables,  contribuyendo a la disminución de la pobreza y sus causas, en su entorno local y regional”</li>
		<li>Acoger en nuestra comunidad la personas en estado de vulnerabilidad</li>
		<li>Devolver  a estas personas  su dignidad a través del trabajo</li>
		<li>Ofrecer un maximo de   servicios y luchar con ellos contra  las causas de la injusticia.</li>
		<li>Acoger y preparar a la vida en comunidad.</li>
		<li>Desarrolar el respeto de si mismo y de los otros a través de  una participación activa a la vida comunitaria</li>
		<li>Acompañar a la responsabilidad y a la autonomía</li>
		<li>Animar y ayudar a la persona que emprende un proyecto de vida</li>
		<li>Responsabilizar  progresivamente cada uno en el seno de la comunidad</li>
		<li>Fomentar toda colaboración útil con otras instituciones privadas o públicas, que compartan el mismo ideal de consideración de la dignidad y la realización del hombre</li>
		<li>Promover la materialización de su Objeto a través de enseñanzas a comunidades de trabajo, en donde los principios sean los de compartir acogiendo, compartir trabajando, compartir viviendo juntos, todo al servicio de todos, compartir sirviendo más allá de la comunidad y compartir toda lucha a favor de una política de servir primero a los más sufridos</li>
	</ul>


	
</div>